.container-balanceando {
    padding: 10px;
    width: 330px;
    height: auto;
    margin: 15px;
}

.container-balanceando-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-balanceando-titulo h1 {
    font-size: 30px;
    margin: 30px 0;
    letter-spacing: -0.03em;
}

.formulario-container {
    border: 1px solid red;
    width: 300px;
}

.filter-quantidade{
    width: 80px; 
    margin: 15px;
}

.container-quantidade{
    display: flex;
}

.container-quantidade h3{
   padding-left: 15px;
   text-align: center;
}

.qtd-select__control {
    height: 60px;
    background-color: rgba(215, 215, 215, 0.9);
    border-radius: 10px !important;
    border: 1px solid var(--grey-light-color) !important;
    text-align: left;
}

.qtd-select__indicator-separator {
    display: none;
}

