.container-balanceando-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-balanceando-titulo h1 {
    font-size: 30px;
    margin: 30px 0;
    letter-spacing: -0.03em;
}

.red-select .react-select__control {
    border-color: var(--vermelho)!important;
}

.orange-select .react-select__control {
    border-color: var(--laranja)!important;
}

.green-select .react-select__control {
    border-color: var(--verde)!important;
}

