.navbar-container { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    transition: .5s all ease-in-out;
}
.navbar-icon:hover,
.navbar-icon:focus {
    background-color: var(--grey-light-color);
}

.navbar-column {
    width: 100%;
}

.navbar-spoon {
    margin: 0 auto;
}