@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:wght@400;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background: url('./assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

:root {
    --primary-color: #fff;
    --secondary-color: #D7D7D7;
    --blue-color: #334AC3;
    --grey-color: #616161;
    --grey-light-color: #9E9E9E;
    --textos: #333333;
    --vermelho: #E56353;
    --verde: #17C294;
    --laranja: #DC820D;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-bottom: 0;
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}
